<a href="https://colab.research.google.com/github/Sivachaboli/Codtech-task1/blob/main/LEVEL4_4_ipynb(CSK).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# PYTHON(TITANIC)
name =input("who was on the Titanic?")
year =input("what year is it? ")

def titanic(name,year):
  year =int(year)
  year = year - 1912
  year =str(year)
  print(name + " were on the Titanic, which sunk " + year + " years ago.")

titanic(name,year)

who was on the Titanic?jack and rose
what year is it? 2025
jack and rose were on the Titanic, which sunk 113 years ago.